<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ConnServlet</servlet-name>
        <servlet-class>uts.isd.controller.ConnServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>uts.isd.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateServlet</servlet-name>
        <servlet-class>uts.isd.controller.UpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditServlet</servlet-name>
        <servlet-class>uts.isd.controller.EditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>uts.isd.controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>uts.isd.controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterProductServlet</servlet-name>
        <servlet-class>uts.isd.controller.RegisterProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AmendProductServlet</servlet-name>
        <servlet-class>uts.isd.controller.AmendProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchProductServlet</servlet-name>
        <servlet-class>uts.isd.controller.SearchProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AmendProductSearchServlet</servlet-name>
        <servlet-class>uts.isd.controller.AmendProductSearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductSearch</servlet-name>
        <servlet-class>uts.isd.controller.DeleteProductSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductServlet</servlet-name>
        <servlet-class>uts.isd.controller.DeleteProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchtermProductServlet</servlet-name>
        <servlet-class>uts.isd.controller.SearchtermProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchProductByCatOrLocaleServlet</servlet-name>
        <servlet-class>uts.isd.controller.SearchProductByCatOrLocaleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartController</servlet-name>
        <servlet-class>uts.isd.controller.CartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuantityController</servlet-name>
        <servlet-class>uts.isd.controller.QuantityController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutController</servlet-name>
        <servlet-class>uts.isd.controller.CheckOutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveItemController</servlet-name>
        <servlet-class>uts.isd.controller.RemoveItemController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderNowController</servlet-name>
        <servlet-class>uts.isd.controller.OrderNowController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConnServlet</servlet-name>
        <url-pattern>/ConnServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateServlet</servlet-name>
        <url-pattern>/UpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditServlet</servlet-name>
        <url-pattern>/EditServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartController</servlet-name>
        <url-pattern>/CartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuantityController</servlet-name>
        <url-pattern>/quantity-inc-dec</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutController</servlet-name>
        <url-pattern>/check-out</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveItemController</servlet-name>
        <url-pattern>/remove-cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderNowController</servlet-name>
        <url-pattern>/order-now</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterProductServlet</servlet-name>
        <url-pattern>/RegisterProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AmendProductServlet</servlet-name>
        <url-pattern>/AmendProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchProductServlet</servlet-name>
        <url-pattern>/SearchProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AmendProductSearchServlet</servlet-name>
        <url-pattern>/AmendProductSearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductSearch</servlet-name>
        <url-pattern>/DeleteProductSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductServlet</servlet-name>
        <url-pattern>/DeleteProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchtermProductServlet</servlet-name>
        <url-pattern>/SearchtermProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchProductByCatOrLocaleServlet</servlet-name>
        <url-pattern>/SearchProductByCatOrLocaleServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
